Import necessary Modules

In [13]:

import pandas as pd
import pandasql as ps
from sqlalchemy.engine import URL
from sqlalchemy import create_engine

Establish connection string to SQL SERVER

In [14]:
connection_string = "DRIVER={SQL Server};SERVER=LOHITHGK;DATABASE=AdWorks"
connection_url = URL.create(
    "mssql+pyodbc", query={"odbc_connect": connection_string})

connection = create_engine(connection_url)

Get the data from SQL DATABASE Tables.

In [15]:
PP = pd.read_sql_query(
    sql='SELECT * FROM [AdWorks].[Person].[Person]', con=connection)

# Convert SQL to DataFrame
Person_Person = pd.DataFrame(PP)

In [16]:
PH = pd.read_sql_query(
    sql='SELECT * FROM [AdWorks].[Person].[PersonPhone]', con=connection)

# Convert SQL to DataFrame
Person_PersonPhone = pd.DataFrame(PH)

In [17]:
EA = pd.read_csv(r"C:\Users\user\Desktop\EmailAddress.csv")

# Convert SQL to DataFrame
Person_EmailAddress = pd.DataFrame(EA)

In [18]:
EM = pd.read_sql_query(
    sql='SELECT * FROM [AdWorks].[HumanResources].[Employee]', con=connection)

# Convert SQL to DataFrame
HumanResources_Employee = pd.DataFrame(EM)

Process the data and save the result in CSV format

In [19]:

df = ps.sqldf(
    """
SELECT 
       PP.BusinessEntityID      
      ,pp.FirstName
      ,pp.LastName
	  ,pp.FirstName ||' '|| pp.LastName as [Name]
	  ,PH.PhoneNumber
	  ,EA.EmailAddress
	  ,EM.JobTitle
	  ,EM.MaritalStatus
	  ,EM.Gender	  

  FROM Person_Person as PP
  LEFT JOIN Person_PersonPhone as PH ON PH.BusinessEntityID = PP.BusinessEntityID
  LEFT JOIN Person_EmailAddress as EA ON EA.BusinessEntityID = PP.BusinessEntityID
  LEFT JOIN HumanResources_Employee as EM ON EM.BusinessEntityID = PP.BusinessEntityID    
    """
)

Write the data to CSV file in the local folder

In [20]:
df.to_csv('emp.csv', encoding='utf-8', index=False)

Write the data to the table Employee_output in the AdWorks Database, if_exists{‘fail’, ‘replace’, ‘append’}, default is ‘fail’. 1. fail: Raise a ValueError, 2. replace: Drop the table before inserting new values, 3. append: Insert new values to the existing table.

In [21]:
df.to_sql('Employee_output', con= connection, if_exists='replace')

-1

In [22]:
connection.dispose()